/*
!/pwa
!/app
/app/etc/env.php
/app/etc/NonComposerComponentRegistration.php
/app/etc/db_schema.xml
/app/etc/di.xml
/app/etc/registration_globlist.php
/app/etc/vendor_path.php
/app/.htaccess
/app/autoload.php
/app/bootstrap.php
/app/functions.php
!/composer.*
!/package.json
!/package-lock.json
!.gitignore
!**/.gitkeep
!README.md
!.github
!.yarn
!.cma

.idea
.DS_Store
!.vscode
!.idea
!*.code-workspace
!.env